#videoContainer{
    width: 100%;
    position: relative;
    video {
        width: 100%;
    }
    .videoControls{
        color: #f0f0f0;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        &.showing{
            opacity: 1;
        }
        align-items: center;
        border-radius: 10px;
        position: absolute;
        bottom: 10px;
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr auto;
        gap: 10px;
        justify-content: space-between;
        background-color: #0f1117;
        padding: 10px;
        left: 0;
        box-sizing: border-box;       
        .videoControls__play{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .videoControls__playBtn{
            margin: 0px 15px;
        }
        .videoControls__time{
            font-size: 12px;
        }
        
        .videoControls__volume{
            display: flex;
            align-items: center;
            span {
                margin-left: 10px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .videoContainer__videoBtnParent{
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        .videoContainer__videoBtn{
            position: relative;
            left: -40px;
            top: -40px;
    
            .videoContainer__centerIconBG{
                display: flex;
                width: 80px;
                height: 80px;
                align-items: center;
                justify-content: center;  
                
                border-radius: 50%;
                background-color: rgba($color: (#000000), $alpha: 0.5);
                
                i {
                    color: white;
                    font-size: 30px;
                }
            }
            opacity: 0;
            transition: transform 0.5s linear;
            &.showingCenterIcon{
                opacity: 0;
                animation: opacity-anim 0.5s;
                transform: scale(2);

                @keyframes opacity-anim {
                    0%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                    
                }
            }
        }
    } 
}